@page
@*<div class="container">
    <form name="Mensagem" target="#here" method="post">
    
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Bem vindo, </div>
        <div class="col-4"><input type="text" disabled id="userInput"/></div>
    </div>
    <div class="row">
        <div class="col-2">Mensagem</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="submit" id="sendButton" value="Enviar" />
        </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>*@
        <div id="bemvindo">Bem vindo </div> <button id="sair">Sair</button>

<div id="scroll" class="scrollagem">
        <ul id="messagesList"></ul>
</div>



<div class="container">
    <form name="Mensagem" target="#here" method="post" autocomplete="off">
    <div class="form">
        <div><input type="hidden" disabled id="userInput"/></div>
        <div><input type="hidden" disabled id="roomInput"/></div>
    </div>
    <div>
        <div><input type="text" id="messageInput" placeholder="Digite sua mensagem aqui..."/>  <input type="submit" id="sendButton" value="Enviar" /></div>
    </div>
    </form>
</div>

<div id="modalLoginForm" class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center head-site">
                <h4 class="modal-title w-100 font-weight-bold">Entrar no chat</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body mx-3 mid-site">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input placeholder="Seu apelido"type="text" id="name" class="form-control">
                    @*<label for="name">Seu apelido</label>*@
                </div>
                

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    
                    <input placeholder="Código da sala" type="text" id="room" class="form-control">
                   
                </div>
@*
                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>*@

            </div>
            <div class="modal-footer d-flex justify-content-center bot-site">
                
                <button id="entrar" class="btn btn-default">Entrar</button>
            </div>
        </div>
    </div>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/site.js"></script>
