@page
@*<div class="container">
    <form name="Mensagem" target="#here" method="post">
    
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Bem vindo, </div>
        <div class="col-4"><input type="text" disabled id="userInput"/></div>
    </div>
    <div class="row">
        <div class="col-2">Mensagem</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="submit" id="sendButton" value="Enviar" />
        </div>
    </div>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>*@
<div class="mid d-flex flex-column">
    <div class="d-flex flex-row p-2">
    <div class="p-2 iconeGrupo letraBranca"><i style="font-size:45px" class="fa fa-circle-user"></i></div><div class="p-2 nomeGrupo letraBranca">@ViewBag.Name</div><a style="font-size:20px;-moz-text-decoration-color:none;:"id="sair" class="p-2 letraBranca"><i class="fa fa-right-from-bracket"></i>       </a>
    </div>

<div id="scroll" class="p-2 scrollagem">
        <ul id="messagesList"></ul>
</div>
<div class="fake"></div>
<div class="p-2 container">
    <form name="Mensagem" target="#here" method="post" autocomplete="off">
    <div class="form">
        <div><input type="hidden" disabled id="userInput" value ="@ViewBag.Name"/></div>
        <div><input type="hidden" disabled id="roomInput" value ="@ViewBag.Room"/></div>
    </div>
    <div>
        <div><input type="text" id="messageInput" placeholder="Digite sua mensagem aqui..."/><input type="submit" id="sendButton" value="Enviar" /><i class="fa- fa-paper-plane letraBranca"></i></div>
    </div>
    </form>
</div>



</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

